<h1>Detalles del Carrito</h1>

<p><strong>ID del Carrito:</strong> {{cartId}}</p>

<h2>Productos en el Carrito:</h2>
<ul>
    {{#each products}}
        <li>
            <p><strong>Producto:</strong> {{this.product.title}}</p>
            <p><strong>Descripcion:</strong> {{this.product.description}}</p>
            <p><strong>Precio:</strong> {{this.product.price}}</p>
            <p><strong>Categoria:</strong> {{this.product.category}}</p>
            <p><strong>Stock:</strong> {{this.product.stock}}</p>
        </li>
    {{/each}}
</ul>

<button onclick="vaciarCarrito('{{cartId}}')" class="btn btn-danger">Vaciar Carrito</button>
<h3 class="mt-2">Total de la compra: ${{purchaseTotal}}</h3>
{{!-- Organizar en un módulo en PUBLIC/JS --}}
<script>
    function eliminarProducto(cartId, productId) {
        fetch(`/api/carts/${cartId}/product/${productId}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al eliminar el producto del carrito');
                }
                location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function vaciarCarrito(cartId) {
        fetch(`/api/carts/${cartId}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al vaciar el carrito');
                }
                location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>

