<h1>Lista de Productos</h1>
    <ul>
        {{#each productsData}}
        <li>
            <h2>{{title}}</h2>
            <p><strong>Descripción:</strong> {{description}}</p>
            <p><strong>Precio:</strong> ${{price}}</p>
            <p><strong>Código:</strong> {{code}}</p>
            <p><strong>Stock:</strong> {{stock}}</p>
            <p><strong>Categoría:</strong> {{category}}</p>

            <h3>Thumbnails</h3>
            <ul>
                {{#each thumbnails}}
                <li><img src="{{this}}" alt="Thumbnail {{@index}}"></li>
                {{/each}}
            </ul>
        </li>
        {{/each}}
    </ul>