<div class="products__container">
  <h1>Lista de Productos</h1>

  <div class="products">
    {{#each products}}
      <div class="products__card">
        <img src="{{img}}" alt="">
        <div class="products__card__texts">
          <h2 class="products__card__title">{{title}}</h2>
          <p class="products__card__category">{{category}}</p>
          <p class="products__card__description">{{description}}</p>
          <p class="products__card__price">${{price}}</p>
        </div>
        <form action="/api/carts/{{../cartId}}/product/{{id}}" method="POST">
          <button class="btnMios" type="submit">Agregar al Carrito</button>
        </form>
        
        {{#if ../isAdmin}}
            <button class="product__button delete-product-btn" data-product-id="{{id}}" type="submit">Eliminar Producto</button>
        {{/if}}
      </div>
    {{/each}}
  </div>

  <div class="products__card__pages">
    {{#if hasPrevPage}}
      <a href="http://localhost:8080/products?page={{prevPage}}&limit={{limit}}">
        <p>Anterior</p>
      </a>
    {{/if}}
    <p>{{currentPage}} de {{totalPages}}</p>
    {{#if hasNextPage}}
      <a href="http://localhost:8080/products?page={{nextPage}}&limit={{limit}}">
        <p>Siguiente</p>
      </a>
    {{/if}}
  </div>
</div>

<script src="../js/deleteProduct.mjs"></script>
