<div class="products__container">
  <h1>Lista de Productos</h1>

  <div class="products">
    {{#each products}}
      <div class="products__card">
        <img src="{{img}}" alt="">
        <div class="products__card__texts">
          <h2 class="products__card__title">{{title}}</h2>
          <p class="products__card__category">{{category}}</p>
          <p class="products__card__description">{{description}}</p>
          <p class="products__card__price">${{price}}</p>
        </div>
     
        
        <form action="/api/carts/{{../cartId}}/product/{{id}}" method="POST" class="products__card__form">
          <div class="products__quantity">
            <button type="button" class="btn btn-outline-secondary" onclick="decreaseQuantity(this)">-</button>
              <input type="number" class="form-control" value="1" name="quantity" id="quantityInput" readonly>
            <button type="button" class="btn btn-outline-secondary" onclick="increaseQuantity(this)">+</button>
          </div>
          <button class="btnMios" type="submit">Agregar al Carrito</button>
        </form>
        
        {{#if ../isAdmin}}
            <button class="product__button delete-product-btn" data-product-id="{{id}}" type="submit">Eliminar Producto</button>
        {{/if}}
      </div>
    {{/each}}
  </div>

  <div class="products__card__pages">
    {{#if hasPrevPage}}
      <a href="http://localhost:8080/products?page={{prevPage}}&limit={{limit}}">
        <p>Anterior</p>
      </a>
    {{/if}}
    <p>{{currentPage}} de {{totalPages}}</p>
    {{#if hasNextPage}}
      <a href="http://localhost:8080/products?page={{nextPage}}&limit={{limit}}">
        <p>Siguiente</p>
      </a>
    {{/if}}
  </div>
</div>

<script src="../js/deleteProduct.mjs"></script>

<script>
    function decreaseQuantity(button) {
        let input = button.parentNode.querySelector('input[type=number]');
        let currentValue = parseInt(input.value);
        if (!isNaN(currentValue) && currentValue > 1) {
            input.value = currentValue - 1;
        }
    }

    function increaseQuantity(button) {
        let input = button.parentNode.querySelector('input[type=number]');
        let currentValue = parseInt(input.value);
        if (!isNaN(currentValue)) {
            input.value = currentValue + 1;
        }
    }
</script>